# Ham or Spam?

In [1]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 2.0 MB/s eta 0:00:01
Requirement already satisfied: tqdm in /Users/smrack/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (4.60.0)
Requirement already satisfied: joblib in /Users/smrack/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in /Users/smrack/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (7.1.2)
Collecting regex
  Downloading regex-2021.4.4-cp38-cp38-macosx_10_9_x86_64.whl (284 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 284 kB 11.0 MB/s eta 0:00:01
Installing collected packages: regex, nltk
Successfully installed nltk-3.6.2 regex-2021.4.4

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/smrack/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /Users/smrack/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /Users/smrack/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [80]:
import pandas as pd

df = pd.read_csv("emails.csv")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

In [81]:
X = df.drop(columns='spam').copy()
y = df['spam']

In [82]:
X

                                                   text
0     Subject: naturally irresistible your corporate...
1     Subject: the stock trading gunslinger  fanny i...
2     Subject: unbelievable new homes made easy  im ...
3     Subject: 4 color printing special  request add...
4     Subject: do not have money , get software cds ...
...                                                 ...
5723  Subject: re : research and development charges...
5724  Subject: re : receipts from visit  jim ,  than...
5725  Subject: re : enron case study update  wow ! a...
5726  Subject: re : interest  david ,  please , call...
5727  Subject: news : aurora 5 . 2 update  aurora ve...

[5728 rows x 1 columns]

In [83]:
X['clean_text'] = X['text']
X.head()

,text,clean_text
0,Subject: naturally irresistible your corporate...,Subject: naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,Subject: the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,Subject: unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,Subject: 4 color printing special request add...
4,"Subject: do not have money , get software cds ...","Subject: do not have money , get software cds ..."

## Remove Punctuation

ðŸ‘‡ Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [84]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [85]:
def remove_punctuation(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [86]:
X.clean_text = X.clean_text.apply(remove_punctuation)
X

,text,clean_text
0,Subject: naturally irresistible your corporate...,Subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,Subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,Subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,Subject 4 color printing special request addi...
4,"Subject: do not have money , get software cds ...",Subject do not have money get software cds fr...
...,...,...
5723,Subject: re : research and development charges...,Subject re research and development charges t...
5724,"Subject: re : receipts from visit jim , than...",Subject re receipts from visit jim thanks ...
5725,Subject: re : enron case study update wow ! a...,Subject re enron case study update wow all ...
5726,"Subject: re : interest david , please , call...",Subject re interest david please call shi...
5727,Subject: news : aurora 5 . 2 update aurora ve...,Subject news aurora 5 2 update aurora versi...

In [87]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5728 entries, 0 to 5727
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        5728 non-null   object
 1   clean_text  5728 non-null   object
dtypes: object(2)
memory usage: 89.6+ KB

## Lower Case

ðŸ‘‡ Create a function to lower case the text. Apply it to `clean_text`

In [88]:
def apply_lower_case(text):
    return text.lower()

In [89]:
X.clean_text = X.clean_text.apply(apply_lower_case)
X

,text,clean_text
0,Subject: naturally irresistible your corporate...,subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,subject 4 color printing special request addi...
4,"Subject: do not have money , get software cds ...",subject do not have money get software cds fr...
...,...,...
5723,Subject: re : research and development charges...,subject re research and development charges t...
5724,"Subject: re : receipts from visit jim , than...",subject re receipts from visit jim thanks ...
5725,Subject: re : enron case study update wow ! a...,subject re enron case study update wow all ...
5726,"Subject: re : interest david , please , call...",subject re interest david please call shi...
5727,Subject: news : aurora 5 . 2 update aurora ve...,subject news aurora 5 2 update aurora versi...

## Remove Numbers

ðŸ‘‡ Create a function to remove numbers from the text. Apply it to `clean_text`

In [90]:
def remove_numbers(text):
    return ''.join(word for word in text if not word.isdigit())

In [94]:
X.clean_text = X.clean_text.apply(remove_numbers)

In [95]:
X

,text,clean_text
0,Subject: naturally irresistible your corporate...,subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,subject color printing special request addit...
4,"Subject: do not have money , get software cds ...",subject do not have money get software cds fr...
...,...,...
5723,Subject: re : research and development charges...,subject re research and development charges t...
5724,"Subject: re : receipts from visit jim , than...",subject re receipts from visit jim thanks ...
5725,Subject: re : enron case study update wow ! a...,subject re enron case study update wow all ...
5726,"Subject: re : interest david , please , call...",subject re interest david please call shi...
5727,Subject: news : aurora 5 . 2 update aurora ve...,subject news aurora update aurora version...

## Remove StopWords

ðŸ‘‡ Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [96]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

stop_words = set(stopwords.words('english'))

In [97]:
def remove_stopwords(text):
    word_tokens = word_tokenize(text)
    text = [word for word in word_tokens if not word in stop_words]
    return text

In [98]:
X.clean_text = X.clean_text.apply(remove_stopwords)
X

,text,clean_text
0,Subject: naturally irresistible your corporate...,"[subject, naturally, irresistible, corporate, ..."
1,Subject: the stock trading gunslinger fanny i...,"[subject, stock, trading, gunslinger, fanny, m..."
2,Subject: unbelievable new homes made easy im ...,"[subject, unbelievable, new, homes, made, easy..."
3,Subject: 4 color printing special request add...,"[subject, color, printing, special, request, a..."
4,"Subject: do not have money , get software cds ...","[subject, money, get, software, cds, software,..."
...,...,...
5723,Subject: re : research and development charges...,"[subject, research, development, charges, gpg,..."
5724,"Subject: re : receipts from visit jim , than...","[subject, receipts, visit, jim, thanks, invita..."
5725,Subject: re : enron case study update wow ! a...,"[subject, enron, case, study, update, wow, day..."
5726,"Subject: re : interest david , please , call...","[subject, interest, david, please, call, shirl..."
5727,Subject: news : aurora 5 . 2 update aurora ve...,"[subject, news, aurora, update, aurora, versio..."

## Lemmatize

ðŸ‘‡ Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [47]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

In [99]:
X.clean_text[0]

['subject',
 'naturally',
 'irresistible',
 'corporate',
 'identity',
 'lt',
 'really',
 'hard',
 'recollect',
 'company',
 'market',
 'full',
 'suqgestions',
 'information',
 'isoverwhelminq',
 'good',
 'catchy',
 'logo',
 'stylish',
 'statlonery',
 'outstanding',
 'website',
 'make',
 'task',
 'much',
 'easier',
 'promise',
 'havinq',
 'ordered',
 'iogo',
 'company',
 'automaticaily',
 'become',
 'world',
 'ieader',
 'isguite',
 'ciear',
 'without',
 'good',
 'products',
 'effective',
 'business',
 'organization',
 'practicable',
 'aim',
 'hotat',
 'nowadays',
 'market',
 'promise',
 'marketing',
 'efforts',
 'become',
 'much',
 'effective',
 'list',
 'clear',
 'benefits',
 'creativeness',
 'hand',
 'made',
 'original',
 'logos',
 'specially',
 'done',
 'reflect',
 'distinctive',
 'company',
 'image',
 'convenience',
 'logo',
 'stationery',
 'provided',
 'formats',
 'easy',
 'use',
 'content',
 'management',
 'system',
 'letsyou',
 'change',
 'website',
 'content',
 'even',
 'structure',
 'promptness',
 'see',
 'logo',
 'drafts',
 'within',
 'three',
 'business',
 'days',
 'affordability',
 'marketing',
 'break',
 'make',
 'gaps',
 'budget',
 'satisfaction',
 'guaranteed',
 'provide',
 'unlimited',
 'amount',
 'changes',
 'extra',
 'fees',
 'surethat',
 'love',
 'result',
 'collaboration',
 'look',
 'portfolio',
 'interested']

In [109]:
def lemmatize_them(text):
    return ' '.join([lemmatizer.lemmatize(word) for word in text])

In [112]:
#ct = X.clean_text.apply(lemmatize_them)
X.clean_text = X.clean_text.apply(lemmatize_them)
X

,text,clean_text
0,Subject: naturally irresistible your corporate...,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,subject unbelievable new home made easy im wan...
3,Subject: 4 color printing special request add...,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",subject money get software cd software compati...
...,...,...
5723,Subject: re : research and development charges...,subject research development charge gpg forwar...
5724,"Subject: re : receipts from visit jim , than...",subject receipt visit jim thanks invitation vi...
5725,Subject: re : enron case study update wow ! a...,subject enron case study update wow day super ...
5726,"Subject: re : interest david , please , call...",subject interest david please call shirley cre...
5727,Subject: news : aurora 5 . 2 update aurora ve...,subject news aurora update aurora version fast...

In [113]:
X.clean_text[0]

'subject naturally irresistible corporate identity lt really hard recollect company market full suqgestions information isoverwhelminq good catchy logo stylish statlonery outstanding website make task much easier promise havinq ordered iogo company automaticaily become world ieader isguite ciear without good product effective business organization practicable aim hotat nowadays market promise marketing effort become much effective list clear benefit creativeness hand made original logo specially done reflect distinctive company image convenience logo stationery provided format easy use content management system letsyou change website content even structure promptness see logo draft within three business day affordability marketing break make gap budget satisfaction guaranteed provide unlimited amount change extra fee surethat love result collaboration look portfolio interested'

## Bag-of-words Modelling

ðŸ‘‡ Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [114]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

In [117]:
X_bow = vectorizer.fit_transform(X.clean_text)

X_bow.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [119]:
pd.DataFrame(X_bow.toarray(),columns = vectorizer.get_feature_names())

,aa,aaa,aaaenerfax,aadedeji,aagrawal,aal,aaldous,aaliyah,aall,aanalysis,...,zwzm,zxghlajf,zyban,zyc,zygoma,zymg,zzmacmac,zzn,zzncacst,zzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

ðŸ‘‡ Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [125]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB

nb_model = MultinomialNB()

In [126]:
nb_model.fit(X_bow, y)
nb_model.score(X_bow, y)

0.9949371508379888

In [127]:
cross_val_score(nb_model, X_bow, y, scoring='accuracy', cv=5).mean()

0.9895252901681946

âš ï¸ Please push the exercise once you are done ðŸ™ƒ

## ðŸ